@model IEnumerable<MyStock.Models.Tables.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Create New Category</a>
</p>
<table class="table" id="table-category">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">Edit</a> |
                    <a class="text-info" asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">Details</a> |
                    <a class="text-secondary" asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
