@model IEnumerable<MyStock.Models.Tables.Output>

@{
    ViewData["Title"] = "Index";
}

<h1>Outputs</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Add Output</a>
</p>
<table class="table" id="table-output">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOut.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none;">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info" style="text-decoration: none;">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-secondary" style="text-decoration: none;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
